<div class="container">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Registration Form</h4>
        <p class="divider-text">
            <span class="text-center">Fill your information</span>
        </p>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmitJSON()">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <fa-icon [icon]="['fas', 'at']"></fa-icon> </span>
                </div>
                <input formControlName="email" class="form-control" [ngClass]="{'is-valid' : profileForm.controls['email'].valid && profileForm.controls['email'].value.length>0, 'is-invalid' : profileForm.controls['email'].invalid }" placeholder="Email address" type="email">
                <div *ngIf="profileForm.controls['email'].invalid" class="invalid-feedback">
                    Wrong email format!
                </div>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <fa-icon [icon]="['fas', 'user']"></fa-icon> </span>
                </div>
                <input formControlName="fname" [ngClass]="{'is-valid' : profileForm.controls['fname'].valid && profileForm.controls['fname'].value.length>0, 'is-invalid' : profileForm.controls['fname'].invalid && profileForm.controls['fname'].value.length>0}" class="form-control" placeholder="First name" type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <fa-icon [icon]="['fas', 'user']"></fa-icon> </span>
                </div>
                <input formControlName="lname" [ngClass]="{'is-valid' : profileForm.controls['lname'].valid && profileForm.controls['lname'].value.length>0, 'is-invalid' : profileForm.controls['lname'].invalid && profileForm.controls['lname'].value.length>0}" class="form-control" placeholder="Last name" type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <fa-icon [icon]="['fas', 'lock']"></fa-icon> </span>
                </div>
                <input formControlName="password" [ngClass]="{'is-valid' : profileForm.controls['password'].valid && profileForm.controls['password'].value.length>0, 'is-invalid' : profileForm.controls['password'].invalid}" class="form-control" placeholder="Your password" type="password">
                <div *ngIf="profileForm.controls['password'].invalid" class="invalid-feedback">
                    Must contain letter, number, & special character. Minimum 8 character long!
                </div>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <fa-icon [icon]="['fas', 'lock']"></fa-icon> </span>
                </div>
                <input formControlName="repassword" [ngClass]="{'is-valid' : profileForm.controls['repassword'].value === profileForm.controls['password'].value && profileForm.controls['password'].value.length>0, 'is-invalid' : profileForm.controls['repassword'].value !== profileForm.controls['password'].value && profileForm.controls['password'].value.length>0}" class="form-control"  placeholder="Re-type password" type="password">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <fa-icon [icon]="['fas', 'envelope']"></fa-icon> </span>
                </div>
                <textarea formControlName="address" class="form-control" placeholder="Your address" type="text"></textarea>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <fa-icon [icon]="['fas', 'phone']"></fa-icon> </span>
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text">+62</span>
                </div>
                <input formControlName="phone" (submit)="addCode()" [ngClass]="{'is-valid' : profileForm.controls['phone'].valid && profileForm.controls['phone'].value.length>0, 'is-invalid' : profileForm.controls['phone'].invalid && profileForm.controls['phone'].value.length>0 }" class="form-control" placeholder="Phone number" type="text">
            </div> <!-- form-group// -->                               
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!profileForm.valid"> Submit </button>
            </div> <!-- form-group// -->                                                                
        </form>
    </article>
</div> 