<div class="container">
	<div class="row">
        <div class="col-md-12">
            <div class="head">
                <h4>Membership</h4>
            </div>
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of member$;">
                            <td>{{ user.fname }}</td>
                            <td>{{ user.lname }}</td>
                            <td>{{ user.address }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phone }}</td>
                            <td>
                                <p data-placement="top" data-toggle="tooltip" title="Edit">
                                    <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" (click)="getMemberEdit(user.id)" >
                                        <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
                                    </button>
                                </p>
                            </td>
                            <td>
                                <p data-placement="top" data-toggle="tooltip" title="Delete">
                                    <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" (click)="idDelete(user.id)">
                                        <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                                    </button>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <div class="clearfix"></div>
                <ul class="pagination pull-right">
                    <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul> -->
            </div>
        </div>
	</div>
</div>


<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="profileForm">
                <div class="modal-header">
                    <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <fa-icon [icon]="['fas', 'user']"></fa-icon> </span>
                        </div>
                        <input formControlName="fname" value="{{editList?.fname}}" class="form-control" [ngClass]="{'is-valid' : profileForm.controls['fname'].valid && profileForm.controls['fname'].value.length>0, 'is-invalid' : profileForm.controls['fname'].invalid && profileForm.controls['fname'].value.length>0}" type="text" placeholder="First Name">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <fa-icon [icon]="['fas', 'user']"></fa-icon> </span>
                        </div>
                        <input formControlName="lname" value="{{editList?.lname}}" class="form-control" [ngClass]="{'is-valid' : profileForm.controls['lname'].valid && profileForm.controls['lname'].value.length>0, 'is-invalid' : profileForm.controls['lname'].invalid && profileForm.controls['lname'].value.length>0}" type="text" placeholder="Last Name">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <fa-icon [icon]="['fas', 'lock']"></fa-icon> </span>
                        </div>
                        <input formControlName="password" value="{{editList?.password}}" class="form-control" [ngClass]="{'is-valid' : profileForm.controls['password'].valid && profileForm.controls['password'].value.length>0, 'is-invalid' : profileForm.controls['password'].invalid && profileForm.controls['password'].value.length>0}" type="password" placeholder="Password">
                        <div *ngIf="profileForm.controls['password'].invalid" class="invalid-feedback">
                            Must contain letter, number, & special character. Minimum 8 character long!
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <fa-icon [icon]="['fas', 'at']"></fa-icon> </span>
                        </div>
                        <input formControlName="email" value="{{editList?.email}}" class="form-control"
                        [ngClass]="{'is-valid' : profileForm.controls['email'].valid && profileForm.controls['email'].value.length>0, 'is-invalid' : profileForm.controls['email'].invalid }" type="text" placeholder="Email">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <fa-icon [icon]="['fas', 'envelope']"></fa-icon> </span>
                        </div>
                        <textarea formControlName="address" value="{{editList?.address}}" rows="2" class="form-control" placeholder="Address"></textarea>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <fa-icon [icon]="['fas', 'phone']"></fa-icon> </span>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text">+62</span>
                        </div>
                        <input formControlName="phone" (submit)="addCode()" value="{{editList?.phone}}" class="form-control" [ngClass]="{'is-valid' : profileForm.controls['phone'].valid && profileForm.controls['phone'].value.length>0, 'is-invalid' : profileForm.controls['phone'].invalid && profileForm.controls['phone'].value.length>0 }" type="text" placeholder="Phone">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" (click)="updateUser(editList.id)" data-dismiss="modal" class="btn btn-warning btn-lg" [disabled]="profileForm.invalid" style="width: 100%;">
                        <fa-icon [icon]="['fas', 'check-circle']"></fa-icon> Update
                    </button>
                </div>
            </form>
        </div>
    <!-- /.tutup-modal-content --> 
    </div>
    <!-- /.tutup-modal-dialog --> 
</div>
    
    
    
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <fa-icon [icon]="['far', 'times-circle']"></fa-icon>
                </button>
                <h4 class="modal-title custom_align" id="Heading">Delete</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger"><fa-icon [icon]="['far', 'trash-alt']"></fa-icon>    Are you sure you want to delete this Record?</div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="deleteUser()" >
                    <fa-icon [icon]="['fas', 'check-circle']"></fa-icon> Yes
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <fa-icon [icon]="['fas', 'times']"></fa-icon> No
                </button>
            </div>
        </div>
    <!-- /.tutup-modal-content --> 
    </div>
    <!-- /.tutup-modal-dialog --> 
</div>