<div class="container">
	<div class="row">
		<div (click)="memberTab()" class="col-lg-6 navbar" [ngClass]="{'navbar-active' : membership, 'navbar-inactive' : !membership}">
			<h4 class="m-auto">Membership</h4>
		</div>
		<div (click)="regisTab()" class="col-lg-6 navbar" [ngClass]="{ 'navbar-active': registration, 'navbar-inactive' : !registration }">
			<h4 class="m-auto">Registration</h4>
		</div>
	</div>
	<app-data-member [userList]="listUser" *ngIf="membership"></app-data-member>
	<app-registration (onCreate)="fetchData($event)" *ngIf="registration"></app-registration>
</div>